
@{
    ViewBag.Title = "Index";
}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<div id="myMap" style="height: 600px; font-size:10px"></div>

<script src="~/Scripts/Mapa/map.js"></script>