
@{
    ViewBag.Title = "mapa3";
}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<div id='map'></div>
<script src="~/Scripts/Mapa/us-states.js"></script>

<script src="~/Scripts/Mapa/mapa3.js"></script>