
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

    
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>datos</title>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    </head>
    <body>

        @*<div style="height:20vh;width:20vw;margin-top:20px;"><canvas id="myChart"></canvas></div>*@
        @**<div style="height:20vh;width:20vw;margin-left:380px;" margin-top:-200px"><canvas id="myChart2"></canvas></div>
            <div style="height:30vh;width:30vw;margin-left:750px;" margin-top:-200px;"><canvas id="myChart3"></canvas></div>
            <canvas id="myChart4" style="height:10vh;width:20vw;"></canvas>*@
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>

        </script>





        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
        <script>
        $.get("https://raw.githubusercontent.com/Sud-Austral/datos_por_parametro/main/Datos_censo_2017_comuna.csv", function (data) {
            var datos = data;

            var fila = datos.split("\n")[8];


            var tabla = [];
            tabla.push(registros)






            for (var i = 0; i < datos.split("\n").length; i++) {
                var fila = datos.split("\n")[i];
               // alert(fila)
                var registros = {
                    FID: fila.split(",")[0],
                    FID_1: fila.split(",")[1],
                    REGION: fila.split(",")[2],
                    PROVINCIA: fila.split(",")[3],
                    COMUNA: fila.split(",")[4],
                    NOM_REGION: fila.split(",")[5],
                    NOM_PROVIN: fila.split(",")[6],
                    NOM_COMUNA: fila.split(",")[7],
                    TOTAL_VIVI: fila.split(",")[8],
                    PARTICULAR: fila.split(",")[9],
                    COLECTIVAS: fila.split(",")[10],
                    TOTAL_PERS: fila.split(",")[11],
                    POR_HOMBRES: fila.split(",")[12],
                    HOMBRES: fila.split(",")[13],
                    POR_MUJERES: fila.split(",")[14],
                    MUJERES: fila.split(",")[15],
                    DENSIDAD: fila.split(",")[16],
                    MEDIA_MAS: fila.split(",")[17],
                    INDICE_MAS: fila.split(",")[18],
                    INDICE_DEP: fila.split(",")[19],
                    IND_DEP_JU: fila.split(",")[20],
                    IND_DEP_VE: fila.split(",")[21],
                    Shape__Are: fila.split(",")[22],
                    Shape__Are: fila.split(",")[23],
                }
               //alert(registros.NOM_COMUNA)

                tabla.push(JSON.parse(JSON.stringify(registros)));
            }
            var codigo_comuna = "@ViewBag.id";
            //alert(codigo_comuna);
            tabla = tabla.filter(function (dato) {
                return dato != undefined
            });

            var salida = tabla.filter(row => row.COMUNA == "@ViewBag.id")[0]

            var texto = "La comuna de " + salida.NOM_COMUNA + " Ubicada en la region de " + salida.NOM_REGION + " según los datos del censo 2017 tiene una población de " + salida.TOTAL_PERS + " habitantes de los cuales el " + salida.POR_HOMBRES + "% son Hombres y el " + salida.POR_MUJERES + "%  son mujeres. Esto corresponde a una densidad poblacional de " + salida.DENSIDAD + " habitantes por kilómetro cuadrado. ";

            var texto2 = "La comuna de " + salida.NOM_COMUNA + " según los datos del censo 2017 tiene un total de " + salida.TOTAL_VIVI + " de las cuales " + salida.PARTICULAR + " son viviendas particulares y " + salida.COLECTIVAS + " corresponden viviendas colectivas. ";

            var texto3 = "La comuna de " + salida.NOM_COMUNA + " tiene un índice de masculinidad de  " + salida.HOMBRES + " el cual es " + salida.MEDIA_MAS + " que el promedio nacional. El índice de dependencia total es de  " + salida.INDICE_DEP + ". El índice de dependencia de jóvenes es  " + salida.IND_DEP_JU + "y el de tercera edad es de" + salida.IND_DEP_VE + ".";

            document.getElementById("prueba").innerHTML = texto;
            document.getElementById("segundotexto").innerHTML = texto2;
            document.getElementById("tercertexto").innerHTML = texto3;

            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ["Hombres", "Mujeres"],
                    datasets: [{
                        label: '#DATA INTELINGE',
                        data: [parseInt(salida.HOMBRES), parseInt(salida.MUJERES)],
                        backgroundColor: [
                            //'rgba(255, 99, 132, 0.2)',
                            //'rgba(54, 162, 235, 0.2)',
                            //'rgba(255, 206, 86, 0.2)',
                            //'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            //'rgba(255, 99, 132, 1)',
                            //'rgba(54, 162, 235, 1)',
                            //'rgba(255, 206, 86, 1)',
                            //'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 5
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });


       // });



       var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'polarArea',
            data: {
                labels: ["Particulares", "Colectivas"],
                datasets: [{
                    label: '#DATA INTELINGE',
                    data: [parseInt(salida.PARTICULAR), parseInt(salida.COLECTIVAS)],
                    backgroundColor: [
                        //'rgba(255, 99, 132, 0.2)',
                        //'rgba(54, 162, 235, 0.2)',
                        //'rgba(255, 206, 86, 0.2)',
                        //'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        //'rgba(255, 99, 132, 1)',
                        //'rgba(54, 162, 235, 1)',
                        //'rgba(255, 206, 86, 1)',
                        //'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 5
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
            var ctx3 = document.getElementById('myChart3').getContext('2d');
            var myChart3 = new Chart(ctx3, {
                type: 'bar',
                data: {
                    labels: ["Jovenes", "Tercera edad"],
                    datasets: [{
                        label: '#DATA INTELINGE',
                        data: [parseInt(salida.IND_DEP_JU), parseInt(salida.IND_DEP_VE)],
                        backgroundColor: [
                            //'rgba(255, 99, 132, 0.2)',
                            //'rgba(54, 162, 235, 0.2)',
                            //'rgba(255, 206, 86, 0.2)',
                            //'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            //'rgba(255, 99, 132, 1)',
                            //'rgba(54, 162, 235, 1)',
                            //'rgba(255, 206, 86, 1)',
                            //'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 5
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });




     });





















        </script>
        <div style="margin-bottom:1vh;" id="primerelemento">


        </div>

        <div style="margin-bottom:1vh;" id="segundoelemento">


        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="prueba">
                    </div>
                </div>

            </div>
            <div class="row" style="height:20vh;">
                <div class="col-12">
                    <div style="height:20vh;width:20vw;margin-top:5px;"><canvas id="myChart"></canvas></div>


                </div>

            </div>
        </div>



        <div class="container" style="margin-top:20vh;">
            <div class="row">
                <div class="col-12">
                    <div id="segundotexto">

                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div style="height:20vh;width:15vw;margin-top:5px;"><canvas id="myChart2"></canvas></div>


                </div>

            </div>
        </div>



        <div class="container" style="margin-top:20vh;">
            <div class="row">
                <div class="col-12">
                    <div id="tercertexto">

                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div style="height:25vh;width:25vw;margin-top:5px;"><canvas id="myChart3"></canvas></div>


                </div>

            </div>
        </div>

    </body>
</html>









