
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

    
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>datos</title>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    </head>
    <body>
        
        <style>
            #texescudo {
                font-size:2em;
                font-weight:900;
            }
        </style>
        <script>
            function number_format(amount, decimals) {

                amount += ''; // por si pasan un numero en vez de un string
                amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

                decimals = decimals || 0; // por si la variable no fue fue pasada

                // si no es un numero o es igual a cero retorno el mismo cero
                if (isNaN(amount) || amount === 0)
                    return parseFloat(0).toFixed(decimals);

                // si es mayor o menor que cero retorno el valor formateado como numero
                amount = '' + amount.toFixed(decimals);

                var amount_parts = amount.split('.'),
                    regexp = /(\d+)(\d{3})/;

                while (regexp.test(amount_parts[0]))
                    amount_parts[0] = amount_parts[0].replace(regexp, '$1' + ',' + '$2');

                return amount_parts.join('.');
            }

            //alert(number_format(9999999999))
        </script>

        @*<div style="height:20vh;width:20vw;margin-top:20px;"><canvas id="myChart"></canvas></div>*@
        @**<div style="height:20vh;width:20vw;margin-left:380px;" margin-top:-200px"><canvas id="myChart2"></canvas></div>
        <div style="height:30vh;width:30vw;margin-left:750px;" margin-top:-200px;"><canvas id="myChart3"></canvas></div>
        <canvas id="myChart4" style="height:10vh;width:20vw;"></canvas>*@
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>

        </script>





        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
        <script>
            $.get("https://raw.githubusercontent.com/Sud-Austral/datos_por_parametro/main/Datos_Censo_2017_Comuna_MERGE_3.csv", function (data) {
            var datos = data;

            var fila = datos.split("\n")[8];


            var tabla = [];
            tabla.push(registros)





                //alert (datos)
            for (var i = 0; i < datos.split("\n").length; i++) {
                var fila = datos.split("\n")[i];
                //alert(fila.split(",").length)
                var registros = {
                    
                    REGION: fila.split(",")[0],
                    PROVINCIA: fila.split(",")[1],
                    COMUNA: fila.split(",")[2],
                    NOM_REGION: fila.split(",")[3],
                    NOM_PROVIN: fila.split(",")[4],
                    NOM_COMUNA: fila.split(",")[5],
                    TOTAL_VIVI: fila.split(",")[6],
                    PARTICULAR: fila.split(",")[7],
                    POR_PART: fila.split(",")[8],
                    COLECTIVAS: fila.split(",")[9],
                    POR_COLE: fila.split(",")[10],
                    TOTAL_PERS: fila.split(",")[11],
                    POR_HOMBRES: fila.split(",")[12],
                    HOMBRES: fila.split(",")[13],
                    POR_MUJERES: fila.split(",")[14],
                    MUJERES: fila.split(",")[15],
                    DENSIDAD: fila.split(",")[16],
                    MEDIA_MAS: fila.split(",")[17],
                    INDICE_MAS: fila.split(",")[18],
                    INDICE_DEP: fila.split(",")[29],
                    IND_DEP_JU: fila.split(",")[20],
                    IND_DEP_VE: fila.split(",")[21],
                    CUT: fila.split(",")[22],
                    PERSONAS_0: fila.split(",")[23],
                    Porc_0_5: fila.split(",")[24],
                    PERSONAS_6: fila.split(",")[25],
                    Porc_6_14: fila.split(",")[26],
                    PERSONAS_1: fila.split(",")[27],
                    Porc_15_64: fila.split(",")[28],
                    PERSONAS_M: fila.split(",")[29],
                    Porc_mas_65: fila.split(",")[30],
                    PERSONAS_E: fila.split(",")[31],
                    Porc_MIGR: fila.split(",")[32],
                    PNac_MIG: fila.split(",")[33],
                    PUEBLOS_IN: fila.split(",")[34],
                    Porc_IND: fila.split(",")[35],
                    PNac_IND: fila.split(",")[36],
                    TOTAL_VIV_: fila.split(",")[37],
                    TOTAL_VI_1: fila.split(",")[38],
                    VIV_OCUPA_: fila.split(",")[39],
                    TOTAL_VI_2: fila.split(",")[40],
                    CANTIDAD_H: fila.split(",")[41],
                    VIV_TIPO_C: fila.split(",")[42],
                    vTip_Casa: fila.split(",")[43],
                    VIV_TIPO_D: fila.split(",")[44],
                    vTip_Dep: fila.split(",")[45],
                    vOtro_Tip: fila.split(",")[46],
                    VIV_TIPO_T: fila.split(",")[47],
                    VIV_TIPO_P: fila.split(",")[48],
                    VIV_TIPO_M: fila.split(",")[49],
                    VIV_TIPO_1: fila.split(",")[50],
                    VIV_TIPO_O: fila.split(",")[51],
                    VIV_PARED_: fila.split(",")[52],
                    VIV_PARE_1: fila.split(",")[53],
                    VIV_PARE_2: fila.split(",")[54],
                    VIV_PARE_3: fila.split(",")[55],
                    VIV_PARE_4: fila.split(",")[56],
                    VIV_PARE_5: fila.split(",")[57],
                    VIV_TECHO_: fila.split(",")[58],
                    VIV_TECH_1: fila.split(",")[59],
                    VIV_TECH_2: fila.split(",")[60],
                    VIV_TECH_3: fila.split(",")[61],
                    VIV_TECH_4: fila.split(",")[62],
                    VIV_TECH_5: fila.split(",")[63],
                    VIV_TECH_6: fila.split(",")[64],
                    VIV_PISO_P: fila.split(",")[65],
                    VIV_PISO_R: fila.split(",")[66],
                    VIV_PISO_B: fila.split(",")[67],
                    VIV_PISO_C: fila.split(",")[68],
                    VIV_PISO_T: fila.split(",")[69],
                    VIV_MATERI: fila.split(",")[70],
                    Mat_Acep: fila.split(",")[71],
                    VIV_MATE_1: fila.split(",")[72],
                    Mat_Recup: fila.split(",")[73],
                    VIV_MATE_2: fila.split(",")[74],
                    Mat_Irrecup: fila.split(",")[75],
                    VIV_AGUA_R: fila.split(",")[76],
                    vAguRedPUB: fila.split(",")[77],
                    VIV_AGUA_P: fila.split(",")[78],
                    vAguPOZO: fila.split(",")[79],
                    VIV_AGUA_C: fila.split(",")[80],
                    vAguCAMION: fila.split(",")[81],
                    VIV_AGUA_1: fila.split(",")[82],
                    vAguRIO: fila.split(",")[83],
                    Escudo: fila.split(",")[84],
                    Latitud: fila.split(",")[85],
                    Longitud: fila.split(",")[86]






                   
                }

                //alert(registros.Longitud)
               //alert(registros.NOM_COMUNA)

                tabla.push(JSON.parse(JSON.stringify(registros)));
            }
            var codigo_comuna = "@ViewBag.id";
            //alert(codigo_comuna);
            tabla = tabla.filter(function (dato) {
                return dato != undefined
            });

                var salida = tabla.filter(row => row.COMUNA == "@ViewBag.id")[0]
                var urlifreme = "https://www.google.com/maps/embed/v1/place?key=AIzaSyBDk5yAAfq3xb6iZcJ7_yXrr1CDXuKib1k&q=comuna," + salida.NOM_COMUNA + "+cl"

                document.getElementById('mapagoogle').src = urlifreme;
                document.getElementById('logocomuna').src = salida.Escudo;

                var texto = "La comuna de " + salida.NOM_COMUNA + " Ubicada en " + salida.NOM_REGION + " según los datos del censo 2017 tiene una población de " + number_format(salida.TOTAL_PERS) + " habitantes de los cuales el " + Math.round(Number.parseFloat(salida.POR_HOMBRES) * 100) / 100 + "% son hombres y el " + Math.round(Number.parseFloat(salida.POR_MUJERES) * 100) / 100 + "%   mujeres, lo corresponde a una densidad poblacional de " + salida.DENSIDAD + " habitantes por kilómetro cuadrado." ;


                var texto2 = "La comuna de " + salida.NOM_COMUNA + " según los datos del censo 2017 tiene un total de " + number_format(salida.TOTAL_VIVI) + " viviendas de las cuales " + number_format(salida.PARTICULAR) + " particulares y " + number_format(salida.COLECTIVAS) + " colectivas. ";

                var texto3 = "La comuna de " + salida.NOM_COMUNA + " tiene un índice de masculinidad de  " + salida.HOMBRES + " el cual es " + salida.MEDIA_MAS + " que el promedio nacional. El índice de dependencia total es de  " + salida.INDICE_DEP + ". El índice de dependencia de jóvenes es  " + salida.IND_DEP_JU + " y el de tercera edad es de " + salida.IND_DEP_VE + ".";

                var texto4 = "Comuna de " + salida.NOM_COMUNA + ".";

                var texto5 = " La Comuna de " + salida.NOM_COMUNA + " esta localizada  en la provincia de " + salida.NOM_PROVIN + ", REGION DE " + salida.NOM_REGION + " Latitud " + salida.Latitud + " y  longitud " + salida.Longitud + ".";;

                var texto6 = " El " + Math.round(Number.parseFloat(salida.Porc_15_64) * 100) / 100 + " de la población se encuentra en el rango de edad de 15 a 64 años, el " + Math.round(Number.parseFloat(salida.Porc_0_5) * 100) / 100 + " son menores de 6 años, el " + Math.round(Number.parseFloat(salida.Porc_6_14) * 100) / 100 + " de 6 a 14 años y el " + Math.round(Number.parseFloat(salida.Porc_mas_65) * 100) / 100 +  " de 65 y más años."

                var texto7 = " El " + Math.round(Number.parseFloat(salida.Porc_MIGR) * 100) / 100 + " de la población son personas migrantes que residen en el territorio nacional, porcentaje que es " + Math.round(Number.parseFloat(salida.PNac_MIG) * 100) / 100 + " al promedio nacional";

                var texto8 = " El " + Math.round(Number.parseFloat(salida.Porc_IND) * 100) / 100 + " de los habitantes se consideran pertenecientes a algún pueblo indígena u originario, porcentaje que es " + Math.round(Number.parseFloat(salida.PNac_IND) * 100) / 100 + " al promedio nacional.";

                var texto9 = " El " + Math.round(Number.parseFloat(salida.vTip_Casa) * 100) / 100 + " corresponde a viviendas de tipo casa, el " + Math.round(Number.parseFloat(salida.vTip_Dep) * 100) / 100 + " a tipo departamento, y el " + Math.round(Number.parseFloat(salida.vOtro_Tip) * 100) / 100 + " a otro tipo.";

                var texto10 = " El " + Math.round(Number.parseFloat(salida.Mat_Acep) * 100) / 100 + " de las viviendas de la comuna de MARÍA ELENA presenta materialidad aceptable, el " + Math.round(Number.parseFloat(salida.Mat_Recup) * 100) / 100 + " recuperable y el " + Math.round(Number.parseFloat(salida.Mat_Irrecup) * 100) / 100 + ".";

                var texto11 = " El " + Math.round(Number.parseFloat(salida.vAguRedPUB) * 100) / 100 + " de las viviendas de la comuna de MARÍA ELENA tiene acceso agua por red pública, el " + Math.round(Number.parseFloat(salida.vAguPOZO) * 100) / 100 + " de pozo, el " + Math.round(Number.parseFloat(salida.vAguCAMION) * 100) / 100 + " de camion aljibe, y el " + Math.round(Number.parseFloat(salida.vAguRIO) * 100) / 100 + " de río, vertiente, estero, canal, lago, etc. "; 











                document.getElementById("prueba").innerHTML = texto;
                document.getElementById("segundotexto").innerHTML = texto2;
                document.getElementById("tercertexto").innerHTML = texto3;
                document.getElementById("texescudo").innerHTML = texto4;
                document.getElementById("texmapa").innerHTML = texto5;
                document.getElementById("tex").innerHTML = texto6;
                document.getElementById("texsiete").innerHTML = texto7;
                document.getElementById("texocho").innerHTML = texto8;
                document.getElementById("texnueve").innerHTML = texto9;
                document.getElementById("texdiez").innerHTML = texto10;
                document.getElementById("texonce").innerHTML = texto11;




            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ["Hombres", "Mujeres"],
                    datasets: [{
                        label: '#',
                        data: [parseInt(salida.HOMBRES), parseInt(salida.MUJERES)],
                        backgroundColor: [
                            //'rgba(255, 99, 132, 0.2)',
                            //'rgba(54, 162, 235, 0.2)',
                            //'rgba(255, 206, 86, 0.2)',
                            //'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            //'rgba(255, 99, 132, 1)',
                            //'rgba(54, 162, 235, 1)',
                            //'rgba(255, 206, 86, 1)',
                            //'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: true,
                            labels: {
                                color: 'rgb(255, 99, 132)'
                            }
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });


       // });



       var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: ["Particulares", "Colectivas"],
                datasets: [{
                    label: 'HOLA',
                    data: [parseInt(salida.PARTICULAR), parseInt(salida.COLECTIVAS)],
                    backgroundColor: [
                        //'rgba(255, 99, 132, 0.2)',
                        //'rgba(54, 162, 235, 0.2)',
                        //'rgba(255, 206, 86, 0.2)',
                        //'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        //'rgba(255, 99, 132, 1)',
                        //'rgba(54, 162, 235, 1)',
                        //'rgba(255, 206, 86, 1)',
                        //'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'PruebAa',
                        position: 'bottom',
                        color: "#ff0000",
                        padding: 30,
                        fontSize:30,
                    }
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        fontColor: '#333',
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
            var ctx3 = document.getElementById('myChart3').getContext('2d');
            var myChart3 = new Chart(ctx3, {
                type: 'bar',
                data: {
                    labels: ["Jovenes", "Tercera edad"],
                    datasets: [{
                        label: 'Índices de dependencia de jóvenes y de tercera edad de la Comuna de MÁRIA ELENA',
                        data: [parseInt(salida.IND_DEP_JU), parseInt(salida.IND_DEP_VE)],
                        backgroundColor: [
                            //'rgba(255, 99, 132, 0.2)',
                            //'rgba(54, 162, 235, 0.2)',
                            //'rgba(255, 206, 86, 0.2)',
                            //'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            //'rgba(255, 99, 132, 1)',
                            //'rgba(54, 162, 235, 1)',
                            //'rgba(255, 206, 86, 1)',
                            //'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

                var ctx4 = document.getElementById('myChart4').getContext('2d');
                var myChart4 = new Chart(ctx4, {
                    type: 'bubble',
                    data: {
                        labels: ["##", "##"],
                        datasets: [{
                            label: '#',
                            data: [parseInt(salida.Porc_0_5), parseInt(salida.Porc_15_64), parseInt(salida.Porc_6_14), parseInt(salida.Porc_mas_65)],
                            backgroundColor: [
                                //'rgba(255, 99, 132, 0.2)',
                                //'rgba(54, 162, 235, 0.2)',
                                //'rgba(255, 206, 86, 0.2)',
                                //'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                //'rgba(255, 99, 132, 1)',
                                //'rgba(54, 162, 235, 1)',
                                //'rgba(255, 206, 86, 1)',
                                //'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 2
                        }]
                    },
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Proporción de viviendas particulares y colectivas de la Comuna de MÁRIA ELENA',
                                position: 'bottom',
                                color: "#ff0000",
                                padding: 30,
                                fontSize: 30,
                            }
                        },
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                fontColor: '#333',
                            }
                        },
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });



                var ctx5 = document.getElementById('myChart5').getContext('2d');
                var myChart5 = new Chart(ctx5, {
                    type: 'bar',
                    data: {
                        labels: ["Casa", "Departamento en edificio", "Tradicional indigena", "Casa antigua", "Mediagua-mejora-rancho o choza", "Movil(carpa-casa rodante o similar)", "Otro tipo de vivienda particular"],
                        datasets: [{
                            label: '#',
                            data: [parseInt(salida.VIV_TIPO_C), parseInt(salida.VIV_TIPO_D), parseInt(salida.VIV_TIPO_T)],
                            backgroundColor: [
                                //'rgba(255, 99, 132, 0.2)',
                                //'rgba(54, 162, 235, 0.2)',
                                //'rgba(255, 206, 86, 0.2)',
                                //'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                //'rgba(255, 99, 132, 1)',
                                //'rgba(54, 162, 235, 1)',
                                //'rgba(255, 206, 86, 1)',
                                //'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 2
                        }]
                    },
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Distribución de los tipos de vivienda de la Comuna de MÁRIA ELENA',
                                position: 'bottom',
                                color: "#ff0000",
                                padding: 30,
                                fontSize: 30,
                            }
                        },
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                fontColor: '#333',
                            }
                        },
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });








                var ctx6 = document.getElementById('myChart6').getContext('2d');
                var myChart6 = new Chart(ctx6, {
                    type: 'polarArea',
                    data: {
                        labels: ["Casa", "Departamento en edificio", "Tradicional indigena"],
                        datasets: [{
                            label: 'DATA INTELINGE',
                            data: [parseInt(salida.VIV_TIPO_C), parseInt(salida.VIV_TIPO_D), parseInt(salida.VIV_TIPO_T)],
                            backgroundColor: [
                                //'rgba(255, 99, 132, 0.2)',
                                //'rgba(54, 162, 235, 0.2)',
                                //'rgba(255, 206, 86, 0.2)',
                                //'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                //'rgba(255, 99, 132, 1)',
                                //'rgba(54, 162, 235, 1)',
                                //'rgba(255, 206, 86, 1)',
                                //'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 2
                        }]
                    },
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Distribución de los tipos de vivienda de la Comuna de MÁRIA ELENA',
                                position: 'bottom',
                                color: "#ff0000",
                                padding: 30,
                                fontSize: 30,
                            }
                        },
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                fontColor: '#333',
                            }
                        },
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });




                var ctx7 = document.getElementById('myChart7').getContext('2d');
                var myChart7 = new Chart(ctx7, {
                    type: 'polarArea',
                    data: {
                        labels: ["Casa", "Departamento en edificio", "Tradicional indigena"],
                        datasets: [{
                            label: 'DATA INTELINGE',
                            data: [parseInt(salida.VIV_TIPO_C), parseInt(salida.VIV_TIPO_D), parseInt(salida.VIV_TIPO_T)],
                            backgroundColor: [
                                //'rgba(255, 99, 132, 0.2)',
                                //'rgba(54, 162, 235, 0.2)',
                                //'rgba(255, 206, 86, 0.2)',
                                //'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                //'rgba(255, 99, 132, 1)',
                                //'rgba(54, 162, 235, 1)',
                                //'rgba(255, 206, 86, 1)',
                                //'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 2
                        }]
                    },
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Distribución de los tipos de vivienda de la Comuna de MÁRIA ELENA',
                                position: 'bottom',
                                color: "#ff0000",
                                padding: 30,
                                fontSize: 30,
                            }
                        },
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                fontColor: '#333',
                            }
                        },
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });






















            });


           





























        </script>
        <div style="margin-bottom:1vh;" id="primerelemento">


        </div>

        <div style="margin-bottom:1vh;" id="segundoelemento">


        </div>





        <div class="container" style="margin-top:0vh;">
            <div class="row">
                <div class="col-12">
                    <img style="height:70px;" src="~/Content/Imagen/negro-rojo-trans.png" />

                </div>

                <div class="col-12">
                    <hr style="border:15px;"><hr style="border:2px;">

                </div>


            </div>
        </div>





        <div class="container" style="margin-top:0vh;">
            <div class="row">
                <div class="row">
                    <div class="col-12">
                        <img style="width:140px;height:140px;margin-top:0px;" id="logocomuna" src="..." class="" alt="...">

                    </div>


                    <div class="col-12">
                        <div style="width:320px;height:120px;margin-left:150px;margin-top:0px;font:100" id="texescudo">
                        </div>
                    </div>





                </div>
            </div>

            <hr width="100%" color="blue" ; style:size="8px" />





            <div class="container" style="margin-top:0vh;">
                <div class="row">
                    <div class="row">
                        <div class="col-12">
                            <h2>
                                1. ASPECTOS SOCIO-DEMOGRÁFICOS
                            </h2>

                        </div>
                    </div>
                </div>
            </div>





            @*PRIMER TEXTO CON GRAFICA*@
            <div class="container" style="margin-top:0vh;">
                <div class="row">
                    <div class="col-12">
                        <h2 style="margin-top:0px;"> POBLACIÓN </h2>
                        <div style="margin-top:10px; " id="prueba">
                        </div>

                        <div style="height:15vh;width:58vw;margin-top:25px;"><canvas id="myChart"></canvas></div>

                        <div style="margin-top:155px; " id="tex">
                        </div>


                    </div>         

                </div>

                <div class="row">
                    <div class="col-12">
                        <div style="height:200vh;width:90vw;margin-top:10px;"><canvas id="myChart4"></canvas></div>

                        <div style="margin-top:0px; " id="texsiete">
                        </div>

                        <div style="margin-top:0px; " id="texocho"> </div>

                    </div>

                    
                </div>
            </div>



            <div class="container" style="margin-top:0vh;">
                <div class="row">

                    <div class="col-12">
                        <h3 style="margin-left:0px;margin-top:0px;">
                            1. VIVIENDA
                        </h3>
                        <div style="margin-top:0px" id="segundotexto">

                        </div>
                        <div style="margin-top:5px; " id="texnueve"> </div>

                        <div style="height:30vh;width:58vw;margin-top:0px;"><canvas id="myChart2"></canvas></div>

                    </div>
                    
                </div>
            </div>











            <div class="container" style="margin-top:0vh;">
                <div class="row">

                    <div class="col-12">

                        <div style="height:100vh;width:100vw;margin-top:10px;"><canvas id="myChart5"></canvas></div>

                    </div>

                </div>
            </div>



            <div class="container" style="margin-top:0vh;">
                <div class="row">

                    <div class="col-12">

                        <div style="margin-top:85px" id="texdiez">

                        </div>

                        <div style="height:35vh;width:78vw;margin-top:10px;"><canvas id="myChart6"></canvas></div>

                    </div>

                    <div class="col-12">

                        <div style="margin-top:85px" id="texonce">

                        </div>

                        <div style="height:35vh;width:78vw;margin-top:10px;"><canvas id="myChart7"></canvas></div>

                    </div>

                </div>
            </div>







            <div class="container" style="margin-top:5vh;">
                <div class="row">



                    <div class="col-12">
                        <h2 style="margin-top:5px;">
                            1. ÍNDICES SOCIODEMOGRÁFICOS

                        </h2>
                        <div style="margin-top:55px" id="tercertexto">

                        </div>

                    </div>


                   

                    

                        
                        <div class="col-12">
                            <div style="height:100vh;width:100vw;margin-top:5px;"><canvas id="myChart3"></canvas></div>
                            <h2 style="margin-top:0px;">
                                2. LOCALIZACIÓN
                            </h2>
                            <div style="margin-top:10px" id="texmapa">

                            </div>

                        </div>
                        <iframe id="mapagoogle" style="width:400px;height:250px;margin-top:00px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBDk5yAAfq3xb6iZcJ7_yXrr1CDXuKib1k&q=maipu+cl" title="W3Schools Free Online Web Tutorials">
                        </iframe>

                        @* <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/place/VALPARAÍSO,+REGIÓNDEVALPARAÍSO,+Chile/"></iframe>
        <a href="https://www.mapsdirections.info/marcar-radio-circulo-mapa/">Dibuja un circulo Google Maps</a></div>*@

                    

                </div>
            </div>












            



        </div>

    </body>
</html>









